<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="labelValue">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.labelValue.detail.title">Label Value</span> {{ labelValue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.labelValue.value">Value</span></dt>
                <dd>
                    <span>{{ labelValue.value }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.labelValue.code">Code</span></dt>
                <dd>
                    <div *ngIf="labelValue.codeId">
                        <a [routerLink]="['/label', labelValue.codeId, 'view']">{{ labelValue.codeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/label-value', labelValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
